doctype html
html(lang="en")
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
  
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-toggle.min.css')
    script(type='text/javascript' src='javascripts/jquery.min.js')
    script(type='text/javascript' src='javascripts/bootstrap.min.js')
    script(type='text/javascript' src='javascripts/bootstrap-toggle.min.js')
  body
    block content
    script(type='text/javascript' src='/javascripts/loginpage-client.js')



.container-fluid
  .row
    .col-md-11
    .col-md-1
    
  .row
    .col-md-6
      form.form-horizontal(role='form')
        .form-group
          label.col-sm-2.control-label(for='login') Login
          .col-sm-10
            input#login.form-control(type='input')
        .form-group
          label.col-sm-2.control-label(for='haslo')  Haslo
          .col-sm-10
            input#haslo.form-control(type='password')
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type='submit').h  Zaloguj sie
            
    .col-md-6
      h2
        | AUTOMATYKA DOMOWA
      p
        | Uniwersalny sterownik automatyki domowej wykorzystuj
      p
        a.btn(href='www.wp.pl') View details »
